html, body {
    background-color: #CADBE0;
}

.box{
    background-color: #C39DA5;
    margin-top: 8%;
    margin-left:15%;
    margin-right:15%;
    border: 20px #494369;
    position: relative;
}

a{
    display: block;
    text-decoration: none;
}
.container {
    height: 24em;
    position: relative;
    margin: auto;
    width: 50%;
  }


.heading{
    text-align: center;
    display: block;
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #494369;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    margin-bottom: 0%;
}


.description {
    margin-left: 22%;
    margin-right: 22%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -15%;
    text-align: justify;
    color: white;
    text-decoration: none;
    padding-top: 2%;
}