html, body {
    background-color: #CADBE0;
}

.top{
    size: 50%;
}

.circle1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #CA7A87 ;
    margin-left: 2em;
}

.circle2 {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #C59BA5 ;
    margin-left: 1em;
}

.circle3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #918DA4 ;
    margin-left: 4em;
    margin-top: -1em;
}
.square1 {
    height: 16px;
    width: 16px;
    background-color: #67658D;
  }

.circle4 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #AE8BA9 ;
    margin-left: 20em;
    margin-left: 2.5em;
}

.circle5 {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #7786AF ;
    margin-left: 21em;
    margin-top: -3em;
}

.circle6 {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #494369 ;
    margin-left: 22em;
    margin-top: 1.5em;
}

.square2 {
    height: 51px;
    width: 51px;
    background-color: #F3907B;
    margin-left: 22.75em;
    margin-top: -2.5em;
  }

.square3 {
    height: 16px;
    width: 16px;
    background-color: #918EA;
}
.circle7 {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #C69CA6 ;
}

.circle8 {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #AE8BA9 ;
}

.square4 {
    height: 48px;
    width: 48px;
    background-color: #F3907B;
  }

.square5 {
    height: 21px;
    width: 21px;
    background-color: #7C5977;
}

.circle9 {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #494369 ;
}

.circle10 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #7786AF ;
}

.circle11 {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #8C607B ;
}

.circle12 {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #8C607B ;
}

.square6 {
    height: 27px;
    width: 27px;
    background-color: #977C8B;
  }


.bottom{
    size: 50%;
}